/* Home */

/* Slide de fotos con animación con bootstrap */

#carouselFade {
    width: inherit;
    height: 100%;
    margin-top: 1%;
    display: grid;
    grid-area: slider;
  }
  
  /* Ejemplo de slide sin bootstrap */
  /* .slider {
    width: 100%;
    height: auto;
    margin-bottom:33%;
    display: grid;
    grid-area: slider;
  }
  
  .slide-1, .slide-2, .slide-3, .slide-4, .slide-5 {
    width: 75%;
    resize: both;
    height: auto;
    position: absolute;
  }
  
  .slide-1 {
    animation: fade1 20s infinite;
  }
  
  .slide-2 {
    animation: fade2 20s infinite;
  }
  
  .slide-3 {
    animation: fade3 20s infinite;
  }
  
  .slide-4 {
    animation: fade4 20s infinite;
  }
  
  .slide-5 {
    animation: fade5 20s infinite;
  }
  
  @keyframes fade1 {
    0%{opacity: 1;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes fade2 {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade5 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  } */
  
  /* Publicidad con video y enlace a compra */
  
  #cuerpo {
  
    max-width: 100%;
    height: auto;
    display: grid;
    grid-area: publi;
  }
  
  .cuerpo {
    background-image: url(../multimedia/images/eldenwall.jpg);
    background-size: cover;
    color: rgb(202, 198, 198);
    border: solid thick rgb(84, 78, 47);
    max-width: 100%;
    height: auto;
  }
  
  .cuerpo__logo{
    text-align: center;
  }
  
  .cuerpo__parrafo {
    font-family: 'Bebas Neue';
    text-align: center;
    margin: 0% 1% 0% 1%;
  }
  
  .cuerpo__parrafo__titulo {
    font-size: xx-large;
  }
  
  .cuerpo__parrafo__texto {
    font-size: large;
  }
  
  .cuerpo__parrafo__item {
    font-size: xx-large;
    line-height: 30px;
    font-family: 'Bebas Neue';
    text-align: center;
    text-decoration: none;
    margin: 0% 1% 0% 1%;
    padding: 1% 0% 1% 0%;
    color: rgb(202, 198, 198);
  }
  
  .cuerpo__parrafo__item:hover {
    color: rgb(187, 191, 72);
    animation: compra 0.5s  0s 0.5 normal forwards;
  }
  
  @keyframes compra {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  .boton-compra {
    display: none;
  }
  
  .cuerpo__video {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: 1%;
  }
  
  .cuerpo__video__item {
    max-width: 100%;
    height: auto;
    margin: 2%;
  }
  
  /* Articulos home */
  
  #portada {
    background-color: $bg-content;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-area: articulo;
  }
  
  .portada__foto{
    margin-top: 1%;
    padding: 2%;
    width: 100%;
    height: auto;
  }
  
  .portada__foto__item {
    border-radius: 4px 4px 4px 4px;
    max-width: 100%;
    height: auto;
    background-color: $bg-content;
  }

  .portada__foto__item:hover {
    transition: all 0.5s;
    transform: scale(1.04);
  }
  
  /* Sidebar home */
  
  #side {
    background-color: $bg-content;
    display: grid;
    grid-area: side;
  }
  
  .side__foto {
    margin-top: 1%;
    padding: 5%;
    width: 100%;
    height: auto;
  }
  
  .side__foto__item {
    border-radius: 4px 4px 4px 4px;
    max-width: 100%;
    height: auto;
  }

  
  /* banner home */
  
  #banner {
    background-color: $bg-content;
    display: grid;
    grid-area: banner;
  }
  
  .banner__foto {
    padding: 2%;
    width: 100%;
    height: auto;
  }
  
  .banner__foto__item {
    border-radius: 4px 4px 4px 4px;
    max-width: 100%;
    height: auto;
  }