/* Home */

/* Slide de fotos con animación con bootstrap */

#carouselFade {
    width: inherit;
    height: 100%;
    margin-top: 1%;
    display: grid;
    grid-area: slider;
  }
  
  /* Ejemplo de slide sin bootstrap */
  /* .slider {
    width: 100%;
    height: auto;
    margin-bottom:33%;
    display: grid;
    grid-area: slider;
  }
  
  .slide-1, .slide-2, .slide-3, .slide-4, .slide-5 {
    width: 75%;
    resize: both;
    height: auto;
    position: absolute;
  }
  
  .slide-1 {
    animation: fade1 20s infinite;
  }
  
  .slide-2 {
    animation: fade2 20s infinite;
  }
  
  .slide-3 {
    animation: fade3 20s infinite;
  }
  
  .slide-4 {
    animation: fade4 20s infinite;
  }
  
  .slide-5 {
    animation: fade5 20s infinite;
  }
  
  @keyframes fade1 {
    0%{opacity: 1;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes fade2 {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }
  
  @keyframes fade5 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  } */
  
  /* Publicidad con video y enlace a compra */
.grid-home {
  #cuerpo {
    margin-top: 1%;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-area: publi;
    .cuerpo {
      background-image: url(../multimedia/images/eldenwall.jpg);
      background-size: cover;
      color: rgb(202, 198, 198);
      border: solid thick rgb(84, 78, 47);
      max-width: 100%;
      height: auto;
      text-align: center;
      font-family: 'Bebas Neue';
      text-decoration: none;
      padding: 1%;
      video {
        max-width: 100%;
        height: auto;
        padding: 2%;
      }
      img {
        height: auto;
        width: 20rem;
      }
      h2 {
        font-size: xx-large;
        text-align: center;
      }
      h5 {
        font-size: large;
        text-justify: auto;
      }
      a {
        font-size: xx-large;
        line-height: 30px;
        font-family: 'Bebas Neue';
        text-align: center;
        text-decoration: none;
        margin: 0% 1% 0% 1%;
        padding: 1% 0% 1% 0%;
        color: rgb(202, 198, 198);
        &:hover{
          color: rgb(187, 191, 72);
          animation: compra 0.5s  0s 0.5 normal forwards;
        }
      }
      
      @keyframes compra {
        0% {
          transform: scale(1);
        }
      
        100% {
          transform: scale(1.1);
        }
      }
      .boton-compra {
        display: none;
      }
    }
  }

  /* Noticias Relevantes Home */

  #portada {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-area: articulo;
    .portada {
      background-color: $bg-content;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 4px 4px 4px 4px;
      padding: 2%;
      img {
        border-radius: 4px 4px 4px 4px;
        width: 100%;
        height: auto;
        max-width: 100%;
        height: auto;
        &:hover {
          transition: all 0.5s;
          transform: scale(1.04);
        }
      }
    }
  }

  /* Sidebar home */

  #side {
    background-color: $bg-content;
    display: grid;
    grid-area: side;
    border-radius: 4px 4px 4px 4px;
    .side {
      border-radius: 4px 4px 4px 4px;
      padding: 18.6% 5% 18.6% 5%;
      img {
        border-radius: 4px 4px 4px 4px;
        max-width: 100%;
        height: auto;
        &:hover {
          transition: all 0.5s;
          transform: scale(1.04);
        }
      }
    }  
  }

  #banner {
    display: grid;
    grid-area: banner;
    background-color: $bg-content;
    border-radius: 4px 4px 4px 4px;
    .banner {
      border-radius: 4px 4px 4px 4px;
      background-color: $bg-content;
      a {
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
        color: white;
        padding: 2% 2% 2% 6%;
        h2 {
          padding:2%;
        }
        img {
          max-width: auto;
          height: 100%;
          padding:2%;
          border-radius: 4px 4px 4px 4px;
        }
      }
      &:hover {
        background-color: white;
        transition: all 0.5s;
        transform: scale(1.04);
        a{
          color:#017bab;
          transition: all 0.5s;
          transform: scale(1.04);
        }
      }
    }
  }
}
