/* Lista de Articulos */

/* Aplicando Grid a Noticias y Reviews*/

.grid-articulos {
    display: grid;
    gap: 5px;
    grid-column: 1fr;
    grid-row: 5, 1fr;
    grid-template-areas: 
    ' header   header   header '
    ' noticia  noticia  aside '
    ' noticia  noticia  aside '
    ' noticia  noticia  aside '
    ' footer   footer   footer';
    main {
      display: grid;
      grid-area: noticia;
      ul {
        background-color: $bg-content;
        padding: 3%;
        li {
          background-color: $bg-home;
          list-style-type: none;
          border-radius: 4px 4px 4px 4px;
          margin: 2%;
          a {
            display: flex;
            flex-direction: row-reverse;
            color: white;
            text-decoration: none;
            &:hover {
              color:#017bab;
              background-color:aliceblue;
              transition: all 0.5s;
              transform: scale(1.04);
              border-radius: 4px 4px 4px 4px;
            }
            img {
              padding: 2%;
              width: 60%;
              height:auto;
              border-radius: 4px 4px 4px 4px;
            }
            h2 {
              font-size: 120%;
              padding: 2% 4% 2% 4%;
              margin-top: 8%;
              margin-bottom: 8%;
            }
          }
        }       
      }
    }
    #aside {
      display: grid;
      grid-area: aside;
      ul {
        background-color: $bg-content;
        padding: 11.5% 2% 11.5% 2%;
        li {
          list-style-type: none;
          border-radius: 4px 4px 4px 4px;
          background-color: $bg-home;
          padding: 5%;
          img {
            border-radius: 4px 4px 4px 4px;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
}  

    

    
    /* Detalle de Articulos 
    
    h1 {
      text-align: center;
      margin: 5px 20px 5px 20px;
      font-size: 2.5vw;
    }
    
    h2 {
      text-align: left;
      margin: 10px 20px 10px 20px;
      font-size: 2vw;
    }
    
    h3 {
      text-align: justify;
      margin: 20px 40px 20px 40px;
      font-size: 1.5vw;
    }
    
    h4 {
      text-align: center;
      font-size: 2vw;
    }
    
    h5 {
      text-align: center;
      margin-top: 1%;
      font: 1vw;
    }
    
    #articulo {
      background-color: $bg-content;
      max-width: 100%;
      height: auto;
      margin-top: 1%;
      margin-bottom: 1%;
      padding: 2%;
    }
    
    .articulo {
      margin: 2%; 
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      height: auto;
    }
    
    .articulo__parrafo {
      color: white;
    }
    
    .articulo__video {
      text-align: center;
      margin: 20px 40px 20px 40px;
    }
    
    .articulo__foto{
      display: flex;
      justify-content: center;
      max-width: 100%;
      height: auto;
      margin: 2%; 
      padding: 2%;
    }
    
    .articulo__foto__item {
      max-width: 100%;
      height: auto;
    }
    }
  */
