* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  #body {
  font-family: arial;
  background-color: #209bf1;
  margin: auto;
  width: 80%;
  /*Posible paleta de colores: #f7668e  #345bb3  #d3d0d7  #0a0a16  #209bf1  #2bdad1  #6f4f8f  #4f4d6f  */
  }
  
  /* Aplicando grid en pagina home */
  
  .grid-home {
  display: grid;
  gap: 5px;
  grid-column: 1fr;
  grid-row: 8, 1fr;
  grid-template-areas: 
  '   header  header  header'
  '   slider  slider  slider'
  '   publi   publi    publi'
  ' articulo articulo   side '
  ' articulo articulo   side   '
  ' articulo articulo   side '
  ' banner   banner    banner'
  ' footer   footer    footer';
  }
  
  /* Probando media query */
  @media screen and (max-width: 576px) {
  
  body {
    font-size: 90%;
  }
  
  .grid-home #cabecera {
    grid-column: 1/-1;
  }
  
  .grid-home #carouselFade {
    grid-column: 1/-1;
    display: none;
  }
  
  .grid-home #cuerpo {
    grid-column: 1/-1;
  }
  
  .grid-home .cuerpo__parrafo {
    display: none;
  }
  
  .grid-home .boton-compra {
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-family: 'Bebas Neue';
    text-decoration: none;
    margin: 0% 1% 0% 1%;
    padding: 1% 0% 1% 0%;
    font-size: 130%;
    color: rgb(202, 198, 198);
  }
  
  .boton-compra-item {
    line-height: 20px;
    font-family: 'Bebas Neue';
    text-align: center;
    text-decoration: none;
    margin: 0% 1% 0% 1%;
    padding: 1% 0% 1% 0%;
    color: rgb(202, 198, 198);
  }
  
  .boton-compra-item:hover {
    font-size: x-large;
    color: rgb(187, 191, 72);
    animation: comprar 0.5s  0s 0.5 normal forwards;
  }
  
  @keyframes comprar {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  .grid-home #portada {
    grid-column: 1/-1;
  }
  
  .grid-home #side {
    grid-column: 1/1;
    display: none;
  }
  
  .grid-home #banner {
    grid-column: 1/-1;
  }
  
  .grid-home #footer {
    grid-column: 1/-1;
  }
  
  .grid-articulos #aside {
    display: none;
  }
  
  .grid-articulos #noticias {
    grid-column: 1/-1;
  }
  
  .noticias__lista__item{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  } 
  
  #grid-cuenta {
    grid-column: 1/-1;
  }
  
  .containerLogin{
    grid-column: 1/-1;
  }
  }
  
  @media screen and (max-width: 768px) {
  .grid-home .cuerpo__parrafo__titulo {
    font-size: large;
  }
  .cuerpo__parrafo__texto {
    display: none;
  }
  
  .grid-home .cuerpo__parrafo__item:hover {
    font-size: xx-large;
    color: rgb(187, 191, 72);
  }
  
  }